@import "partials/constants";


// expertise

.box_expertise_first_row{
max-width: 1063px; 
 margin: 0 auto;
 width:80%;
 height: 330px;
 margin-top:3em;
 background: rgb(255,255,255); 
 
 .exp{
 float:left;
 
 margin-left:20px;
 margin-bottom:30px;
// width:30%;
// height:20%;
background: rgb(255,255,255);
 width:324px;
 height: 324px;
text-align: center;
position: relative;
 
 
 h2{
   text-align: center;
   color: rgb(0, 0, 0);
   font-size: 1,25em;
 
 }
  h7{
  text-align: center;
   color:#fc0015;
    font-size: $text_box_font_size;
 
 }
  p{
  width:100%;
  text-align: center;
   color: rgb( 0, 0, 0 );
   font-size: 0.9em;
 
 }
 
 
 }
 
  .exp img .info_exp img{
  margin: 0 auto;
  
   }
 
  .info_exp{
 margin: 0 auto;
position:absolute;
top:0;
left:0;
font-size: 0.8em;
 text-align: center;
background: rgb(25,25,25);
height: 100%;
width:100%;
 color:white;
display:none;

h2{
   text-align: center;
   color: rgb(255, 255, 255 );
   font-size: $text_box_font_size;
 
 }
  h7{
  text-align: center;
   color:#fc0015;
    font-size: $text_box_font_size;
 
 }


}
 
 }
 .fourth_row_expertise{
 height:900px;
margin: 0 auto;
width:100%;
//min-width:1330px;
background: rgb(25,25,25);

.text_fourth_row{
margin-top:65px;
 margin: 0 auto;
 width:80%;
 background: rgb(25,25,25); 
 
 h2{
  text-align: center;
   color: rgb( 255, 255, 255 );
 
 }
  h7{
  text-align: center;
   color:#fc0015;
    font-size:$text_box_font_size;
 
 }
 
 p{
  text-align: center;
   color: rgb( 255, 255, 255 );
   font-size: $text_box_font_size;
 
 }
}
 
 .box_fourth_row_graphics{
max-width: 1063px; 
 margin: 0 auto;
 width:80%;
 height: 330px;
 margin-top:3em;

 background: rgb(25,25,25);

.graphics{
width:50%;
 margin: 0 auto;
 height: 330px;
 margin-bottom:3em;
 background: rgb(25,25,25);

 canvas{
 margin: 0 auto;
//min-height: 350px;
 //min-width: 600px;
 }


}


.info_graphics{
max-width: 980px; 
 margin: 0 auto;
  height: 330px;
  background: rgb(25,25,25);
.info{
 float:left;
  margin-left:20px;
 margin-bottom:30px;
// width:30%;
// height:20%;
background: rgb(255,255,255);
 max-width:300px;
 min-width:300px;
min-height: 300px;
text-align: center;
position: relative;
 
 .info_text{
 margin: 0 auto;
  margin-left:20px;
 margin-bottom:30px;
 width:65%;
 height:280px;

background: rgb(255,255,255);
 max-width:300px;
position: relative;

h3{
text-align:left;
height:15px;
margin-left:5px;
font-size: 1.5em;
font-weight:bold;
color: rgb(0,0,0);
}

hr{
margin-left:5px;
width: 100%;
color: rgb(0,0,0);

}

h2{
height:20px;
text-align:left;
margin-left:5px;
font-size: 2em;
font-weight:bold;
color: rgb(255,0,0);
}

p{
//height:10px;
//margin-top:2px;
text-align:left;
margin-left:5px;
font-size: $small_text_box_font_size;
color: rgb(0,0,0);
}

h6{
height:10px;
//margin-top:2px;
text-align:left;
margin-left:5px;
font-size: 1.1em;
color: rgb(0,0,0);
}

 
} 
 
 
 
}


}
}
}

.btnContactDiv{
 
 width:100%;
height:300px;
 text-align:center;
 
  p{
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 3em;
  text-align: center;
   color: rgb( 0, 0, 0 );
   font-size: $text_box_font_size;
 
 }
 
 
 .btnContact {

margin: 0 auto;
  font-family: ProximaNova;
  color: #ffffff;
  font-size: 20px;
  background: #fc0015;
   border: solid #fc0015 1px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnContact:hover {
  background: #d60808;
  text-decoration: none;
}
  
 }

 
 
 /*********MEDIA QUERY *************/



@media only screen and (min-width: 960px) and(max-width:1365px) {

.box_expertise_first_row{
 width:90%;

 
 


.exp{
margin-left:10px;
 width:280px;
height: 300px;
 
p{
margin: 0 auto;
  width:80%;
   
 }

}
}

}
 