//COSTANTI


$ligthFont: #8d8f92;
$darkFont: #707070;
$emColor: #FF0000;

$linkColor: #e95e4c;
$linkHover: darken($linkColor, 4%);

$font_size: 1em;

$text_box_font_size: 1.5em;
$small_text_box_font_size: 1.0em;
$line_height: 1,4em;
$button_font_size: 1,25em;


$padding: 1em;

$header_height: 6em; 

$site_width: 83em;
